
<li class="blog-comment{{type ? ' -' ~ type }}" id="blog-comment-{{comment.ID}}">
	<div class="comment-author-info">
		<img class="comment-author-img" src="{{ comment.author.avatar.abs_url }}">
		{% if comment.author.link %}<a href="{{comment.author.link}}">{% endif %}
		<h5 class="comment-author-name">{{comment.author.display_name ? comment.author.display_name : comment.author.name}}</h5>
		{% if comment.author.link %}</a>{% endif %}
	</div>
	<div class="comment-content">{{comment.comment_content|wpautop}}</div>
	<button class="btn-reply">Reply to this Comment</button>
	{% include 'partials/comment-form.twig' with { type: 'reply' } %}

	{% if post.comments %}
		<ul class="comments">
			{% for cmt in comment.children %}
				{% include "partials/comment.twig" with {comment:cmt, type: 'reply'} %}
			{% endfor %}
		</ul>
	{% endif %}
</li>