{% if post.get_field('sections') %}

	{% for section in post.get_field('sections') %}

		{% set menu_link_id = section.menu_item_title|replace({ (" ") : "_" })|lower %}

		<section class="page-section module -article">

			{% if loop.index == '1' %}
				{% include 'partials/section-nav.twig'%}
			{% endif %}

			{% if section.section_title %}
				<header class="module-header section-header{{section.css_class ? ' ' ~ section.css_class}}"{{section.menu_item_title ? ' id="'~menu_link_id~'"'}}>
					<h2 class="section-title">{{section.section_title}}</h2>
					{% if section.lead %}
						<p class="section-lead">{{section.lead}}</p>
					{% endif %}
				</header> <!-- /.section-header -->
			{% endif %}

			<div class="module-content">
				{% include 'partials/flexcontent-logic.twig' with { elem: section.blocks } %}
			</div> <!-- /.section-content -->

		</section> {{menu_link_id ? '<!-- /#'~menu_link_id~' -->'}}

	{% endfor %}

{% endif %}
