{% extends 'index.twig' %}

{% block header %}
<header class="o-header">
	<div class="inner-pad grid-main">

		<div class="main-content">
			<h1 class="header-title">{{ term ? term.name : title }}</h1>
			{% if term.description %}
				<p class="header-lead">{{ term.description }}</p>
			{% endif %}
		</div>
	</div>	
</header>
{% endblock %}


{% block content %}

	<ol class="o-tease-loop">
		{% for post in posts %}
			{% include 'teases/tease-post.twig' %}
		{% endfor %}
	</ol>

	<nav class="prevnext-nav">
		{% if pagination.next %}
			<a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">&larr; Older Posts</a>
		{% endif %}

		{% if pagination.prev %}
			<a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Newer Posts &rarr;</a>
		{% endif %}
	</nav> <!-- /.pagination -->

{% endblock %}
