{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{body_class}} wf-loading" data-template="base.twig" id="top">

  <div class="visually-hidden">
    {% include 'partials/svg-defs.svg' %}
  </div>

  <div class="site">

  {% if callout_tf == true %}
    <div class="site-callout callout">
      <div class="inner">
        <p class="meta-light">{{callout_bar}}</p>
      </div>
    </div>
  {% endif %}

  <header class="site-header" role="banner">
    <div class="inner">
      {% include 'headers/header-site.twig' %}
    </div>
  </header>

  <main class="site-main" role="main">

    {% block header %}
      <header class="main-header">
        <h1 class="page-title">{{post.title}}</h1>
        <p class="page-tagline">{{post.tagline}}</p>
      </header>
    {% endblock %}

    <div class="inner {{sidebar ? ' grid-content'}}">

      <div class="main-content">
        {% block content %}
            Sorry, no content
        {% endblock %}
      </div>

      {% if sidebar %}
        <aside class="main-aside">
          {{sidebar}}
        </aside>
      {% endif %}

    </div>

    <div class="main-misc text-center">
      <h4>Maybe some fun content here or something. Or not.</h4>
    </div>

  </main>

  <footer class="site-footer" role="contentinfo">
    <div class="inner">

      <nav class="link-back-top">
        <a href="#top">
          {% include 'partials/svg.twig' with {'file': 'arrow-up', 'prefix': 'icon' } %}
        </a>
      </nav>

      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}

      {{ function('wp_footer') }}

  </div>
</footer>

</div> <!-- /.site -->

</body>

</html>
