{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}} wf-loading" data-template="base.twig" id="top">
        
        <div class="invisible">
            {% include 'partials/svg-defs.svg' %}    
        </div>
        
        <header class="site-header" role="banner">
            {% block header %}
                {% include 'headers/header-site.twig' %}
            {% endblock %}
        </header>
        
        <main class="site-main" role="main">
            
            <div class="page-body">
                {% block content_head %}
                    {% include 'headers/header-page.twig' %}
                {% endblock %}
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>

            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}

        </main>

        {% block footer %}
            
            <nav class="link-back-top spacer-bot">
                <a href="#top">
                    {% include 'partials/svg.twig' with {'file': 'arrow-up', 'prefix': 'icon' } %}
                </a>
            </nav>

            <footer class="site-footer" role="contentinfo">
                
                <div class="contain-md text-center">
                    <h5>What can I do for you?</h5>
                    <ul class="list-services">
                        <li><a href="{{site.link}}/teach-me-to-fish">Teach me to fish.</a></li>
                        <li><a href="{{site.link}}/fish-with-me">Let's fish together!</li>
                        <li><a href="{{site.link}}/fish-for-me">Fish for me.</a></li>
                    </ul>
                    <hr>
                </div>

                <div class="widgets">
                    {% include 'footer.twig' %}    
                </div>

                <div class="colophon rotate-med text-center">
                    <div class="contain-lg">
                        <p class="credit">&copy; Lara Schenck, LLC. Powered by <a href="http://wordpress.org" target="blank">WordPress</a> and <a href="http://upstatement.com/timber" target="blank">Timber</a>, hosted by <a href="http://webfaction.com" target="blank">WebFaction</a>. Source <a href="http://github.com/laras126/notlaura.com" target="blank">on Github</a>.</p>
                    </div>
                </div>
            </footer>

            {{ function('wp_footer') }}
            
        {% endblock %}

    </body>

</html>