{% set is_story = function('is_page_template', 'page-story_layout.php') %}

{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{body_class}} wf-loading" data-template="base.twig" id="top">

  <div class="visually-hidden">
    {% include 'partials/svg-defs.svg' %}
  </div>

  {% if callout_tf == true %}
    <div class="site-callout callout">
      <div class="inner">
        <p class="meta-light">{{callout_bar}}</p>
      </div>
    </div>
  {% endif %}

  <header class="site-header">
    <div class="inner">
      {% include 'headers/header-site.twig' %}
    </div>
  </header>

  <main class="site-main">

    {% block header %}
      <header class="main-header">
        <h1 class="page-title">{{post.title}}</h1>
        <p class="page-tagline">{{post.tagline}}</p>
      </header>
    {% endblock %}

    <div class="inner{{ is_story == true ? '-np' }}{{sidebar ? ' grid-content'}}">

      <div class="main-content{{ is_story == true ? ' module -article' }}">
        {% block content %}
            Sorry, no content
        {% endblock %}
      </div>

      {% if sidebar %}
        <aside class="main-aside">
          {{sidebar}}
        </aside>
      {% endif %}

    </div>

    {% block misc %}{% endblock %}
  </main>

  <a href="#top" class="link-back-top">
    {% include 'partials/svg.twig' with {'file': 'arrow-up', 'prefix': 'icon' } %}
  </a>

  <footer class="site-footer">
    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
  </footer>

  {{ function('wp_footer') }}

</body>

</html>
