{% set is_story = function('is_page_template', 'page-story_layout.php') %}
{% set is_blog = function('is_home') %}
{% set is_category = function('is_category') %}
{% set is_tag = function('is_tag') %}

{% block html_head_container %}
    {% include 'html-header.twig' %}
    {{ block('head') }}
    </head>
{% endblock %}

<body class="{{body_class}} wf-loading" data-template="base.twig" id="top">

  <div class="visually-hidden">
    {% include 'partials/svg-defs.svg' %}
  </div>

  {% if callout_tf == true %}
    <div class="site-callout callout">
      <div class="inner">
        <p class="meta-light">{{callout_bar}}</p>
      </div>
    </div>
  {% endif %}

  <header class="site-header">
    <div class="inner-pad">
      {% include 'headers/header-site.twig' %}
    </div>
  </header>

  <main class="site-main">

    {% block header %}
      <header class="main-header">
        <h1 class="page-title">{{post.title}}</h1>
        <p class="page-tagline">{{post.tagline}}</p>
      </header>
    {% endblock %}

    <div class="{{ is_blog or is_category or is_tag ? 'l-page | ' }} inner-pad{{ is_story == true ? '-story' }}">

      <div class="main-content">
        {% block content %}
            Sorry, no content
        {% endblock %}
      </div>

	{% block sidebar %}
      {% if sidebar %}
        <aside class="main-aside">
            {{sidebar}}
        </aside>
		{% endif %}
	{% endblock %}

    </div>

    {% block misc %}{% endblock %}
  </main>

  <footer class="site-footer">
    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
  </footer>

  <script>

    // Credit: http://www.sarasoueidan.com/
    if('querySelector' in document
      && 'localStorage' in window
      && 'addEventListener' in window) {

      var root = document.getElementsByTagName( 'html' )[0];
      root.classList.add('js');
    }

  </script>

  {{ block('footer_scripts') }}

  {{ function('wp_footer') }}

</body>

</html>
