<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
  <meta charset="{{site.charset}}" />
  <title>{{wp_title}}</title>
  <meta name="description" content="{{site.description}}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="{{site.pingback_url}}" />
  <script src="{{site.theme.link}}/assets/js/build/lazysizes.min.js" async></script>
  <style>
      @font-face{font-family:'Inter UI';font-style:normal;font-weight:400;src:url({{site.theme.link}}/assets/font-files/Inter-UI-Regular.woff2?v=2.3) format("woff2"),url({{site.theme.link}}/assets/font-files/Inter-UI-Regular.woff?v=2.3) format("woff")}@font-face{font-family:'Inter UI';font-style:italic;font-weight:400;src:url({{site.theme.link}}/assets/font-files/Inter-UI-Italic.woff2?v=2.3) format("woff2"),url({{site.theme.link}}/assets/font-files/Inter-UI-Italic.woff?v=2.3) format("woff")}@font-face{font-family:'Inter UI';font-style:normal;font-weight:700;src:url({{site.theme.link}}/assets/font-files/Inter-UI-Bold.woff2?v=2.3) format("woff2"),url({{site.theme.link}}/assets/font-files/Inter-UI-Bold.woff?v=2.3) format("woff")}@font-face{font-family:'Inter UI';font-style:italic;font-weight:700;src:url({{site.theme.link}}/assets/font-files/Inter-UI-BoldItalic.woff2?v=2.3) format("woff2"),url({{site.theme.link}}/assets/font-files/Inter-UI-BoldItalic.woff?v=2.3) format("woff")}
  </style>
  <script>
      (function() {
        // Optimization for Repeat Views
        if( sessionStorage.fontsLoadedFoutWithClass ) {
          document.documentElement.className += " fonts-loaded";
          return;
        }
        if( "fonts" in document ) {
          Promise.all([
            document.fonts.load("1rem Inter UI"),
            document.fonts.load("700 1rem Inter UI"),
            document.fonts.load("italic 1rem Inter UI"),
            document.fonts.load("italic 700 1rem Inter UI")
          ]).then(function () {
            document.documentElement.className += " fonts-loaded";
            // Optimization for Repeat Views
            sessionStorage.fontsLoadedFoutWithClass = true;
          });
        }
      })();
  </script>

{{fn('wp_head')}}
