{% extends "base.twig" %}

{% block header %}
	{# {% include 'headers/header-page.twig' %} #}
{% endblock %}

{% block content %}

	{# TODO: Find in database, remove THIS and put in a plugin #}
	{# {% for post in all_posts %}
		{% if '####' in post.content %}
			<a href="{{post.link}}">{{post.title}}</a> {{post.date}}<br>
		{% endif %}
	{% endfor %} #}

	<div class="tease-loop grid-loop">
		{% for post in posts %}
			{% include ['teases/tease-'~post.post_type~'.twig', 'teases/tease.twig'] %}
		{% endfor %}
	</div>

	<nav class="prevnext-nav">
		{% if pagination.next %}
			<a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">&larr; Older Posts</a>
		{% endif %}

		{% if pagination.prev %}
			<a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Newer Posts &rarr;</a>
		{% endif %}
	</nav> <!-- /.pagination -->

{% endblock %}
