{% extends "base.twig" %}

{% block content_head %}
	{# 
		NOTE: 
		Should be a better way to to this using the following template: 
		{% include 'headers/header-page.twig' %} 
		BUT the post object doesn't seem to be registering since this is the index. 
		Oh well for now. 
	#}

	<header class="page-header">

		<div class="contain-md">
			<h1 class="page-title">Blog</h1>
			<p class="page-tagline">Thoughts, snippets, research, etc.</p>
		</div>

	</header> <!-- /.page-header -->
{% endblock %}

{% block content %}
	{% for post in posts %}
		{% include ['teases/tease-'~post.post_type~'.twig', 'teases/tease.twig'] %}
	{% endfor %}
		<div class="tool-pagination">
	    {% if pagination.prev %}
	        <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
	    {% endif %}
	    <ul class="pages">
	        {% for page in pagination.pages %}
	            <li>
	                {% if page.link %}
	                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
	                {% else %}
	                    <span class="{{page.class}}">{{page.title}}</span>
	                {% endif %}
	            </li>
	        {% endfor %}
	    </ul>
	    {% if pagination.next %}
	        <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
	    {% endif %}
	</div>
{% endblock %}