{% extends "base.twig" %}

{% block content_head %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	{% include 'partials/section-nav.twig'%}
		
	{# TODO: make this a conditional #}
	<div class="accordion">

	{% for section in post.get_field('sections') %}

		{% set menu_link_id = section.menu_item_title|sanitize %}

		{# Used to allow for isolated block content that doesn't look like a full section #}
		{% set full = section.full_section %}
		
		{# 
			Determine if the section is part of an accordian. The acc var then conditionall prints the necessary classes.

			Is this overkill? 
		#}
		{% set acc = section.accordian %}


		{% if full %}
			<section class="page-section {{ acc ? 'acc-section' }}">
			{% include 'headers/header-section.twig' with { menu_link_id: menu_link_id, acc: acc } %}
		{% endif %}

		<div class="section-content {{ acc ? 'acc-content' }}" id="{{menu_link_id}}-content">

			{% include 'partials/flexcontent-logic.twig' with { elem: section.blocks } %}

		</div> <!-- /.accordian -->
	
		{% if full %}
			</section> <!-- /#{{menu_link_id}} -->
		{% endif %}
	
	{% endfor %}

	{# {% if prev and next %}
		<nav class="contain-lg page-nav">
			<div class="half">
				<a href="{{prev.permalink}}" title="{{prev.post_title}}">
					{% include 'partials/svg.twig' with { 'prefix': 'icon', 'file': 'arrow-left' } %}
					<p class="page-nav-text">{{prev.post_title}}</p>
				</a>
			</div>
			<div class="half text-right">
				<a href="{{next.permalink}}" title="{{next.post_title}}">
					<p class="page-nav-text">{{next.post_title}}</p>
					{% include 'partials/svg.twig' with { 'prefix': 'icon', 'file': 'arrow-right' } %}
				</a>
			</div>
		</nav>
	{% endif %} #}
	
	</div>	
{% endblock %}