{% extends "base.twig" %}

{% block content_head %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	<div class="contain-lg block">

	{% for post in projects %}

		<div class="tease tease-thumb">
			<a href="{{post.permalink}}" title="{{post.title}}">
				<figure class="reveal-on-hover">
					<img src="{{post.thumbnail.get_src|resize(400,300)}}" alt="Thumbnail for {{post.title}}">
					{# <img src="{{post.get_thumbnail.get_src|resize(500)}}" /> #}
					
					{# <figcaption class="to-reveal"> #}
						{# <a href="{{post.permalink}}" class="btn">Read more</a> #}
						{# {% if post.project_link %}
							<a href="{{post.project_link}}" class="btn" target="blank">Launch Project</a>
						{% endif %} #}
					{# </figcaption> #}
				</figure>
			</a>
			<h5 class="text-center">{{post.title}}</h5>
		</div>
			
	{% endfor %}

	</div>
{% endblock %}