{% extends "page.twig" %}

{% block content_head %}
	{% include 'headers/header-project.twig' %}
{% endblock %}

{% block content %}
	
	<div class="contain-md">

		{% if post.get_terms('project-type') %}
			<p class="meta-greyed tags-list spacer-top">Filed under: 
				{% for type in post.get_terms('project-type') %}
					<a href="{{type.link}}">{{type.name}}</a>{{ loop.last ? '' : ', ' }}
				{% endfor %}
			</p>
		{% endif %}

		{% if post.project_link %}
			<div class="text-center spacer-top spacer-bot">
				<a href="{{post.project_link}}" target="blank" class="btn">Launch Project</a>
			</div>
		{% endif %}
		
		{{ post.image ? '<hr>' }}

	</div>
	
	{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
{# 	<div class="contain-md">
		{% if post.get_terms('tag') %}
			<p class="meta-greyed tags-list">Keywords:  
				{% for tag in post.get_terms('tag') %}
					<a href="{{tag.link}}">{{tag.name}}</a>{{ loop.last ? '' : ', ' }}
				{% endfor %}
			</p>
		{% endif %}
	</div> #}


{% endblock %}