{% extends "single.twig" %}

{% block header %}
	{% include "headers/header-page.twig" %}
{% endblock %}

{% block content %}
<article class="module">

	<nav class="module-header">
		<a href="{{site.link}}/portfolio">&larr; All Projects</a>

		{% if post.prev %}
		{# <a href="{{post.prev.link}}" title="Previous Project">
			{% include 'partials/svg.twig' with { 'file': 'arrow-left', 'prefix': 'icon' } %}
		</a> #}
		{% endif %}


		{% if post.next %}
		{# <a href="{{post.next.link}}" title="Next Project">
			{% include 'partials/svg.twig' with { 'file': 'arrow-right', 'prefix': 'icon' } %}
		</a> #}
		{% endif %}

	</nav>

	<div class="module-rail">


		{% if post.project_link %}
			<div class="text-center spacer-top spacer-bot">
				<a href="{{post.project_link}}" target="blank" class="btn">Launch Project</a>
			</div>
		{% endif %}

		{% if post.get_terms('tag') %}
			<p class="meta-greyed tags-list">Keywords:
				{% for tag in post.get_terms('tag') %}
					<a href="{{tag.link}}">{{tag.name}}</a>{{ loop.last ? '' : ', ' }}
				{% endfor %}
			</p>
		{% endif %}

	</div>

	<div class="module-content">
		{# TODO: need to rename this class, what is this... #}

		{# TODO: also this #}

		{# {{ post.image ? '<hr>' }} #}

		{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
		</div>
</article>

{% include 'partials/prev-next.twig' %}

{% endblock %}
