{% extends "base.twig" %}

{% block header %}{% endblock %}

{% block content %}

<article class="module -article">

		<header class="module-header">
			<h1 class="single-title">
				{% if post.format == 'link' %}
					<a href="{{post.link_url}}">{% include "svgs/link.twig" with { class: 'icon-title' } %}
				{% endif %}
				{{post.title}}
				{{post.format == 'link' ? '</a>'}}</h1>
			<p class="single-meta">
				<span class="meta-date">Posted {{post.date}}</span>
				<span class="meta-cat-title">in</span> {% for cat in post.categories %}<a class="meta-cat" href="{{cat.link}}">{{cat.name}}</a>{{loop.last ? '' : ', '}}{%
				endfor %}
				{% include 'partials/edit-link.twig' %}
			</p>
		</header>

		{% if post.get_terms('post_tag') %}
			<aside class="module-rail">
				{# {% include "partials/tease-meta.twig" %} #}
				<h5 class="list-tags-title">Tagged</h5>
				<ul class="list-tags">
					{% for t in post.get_terms('post_tag') %}
						<li><a href="{{t.link}}">{{t.name}}</a></li>
					{% endfor %}
				</ul>
			</aside>
		{% endif %}

		<div class="module-content">
			{% if post.content %}
				{{post.content}}
			{% else %}
				{# I don't think these are being used. TODO check. #}
				{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
			{% endif %}

			{% if post.format == 'link' %}
					<p>
						<a href="{{post.link_url}}" class="btn -has-icon">Visit Link {% include "svgs/link.twig" with { class: 'icon-inline' } %}</a>
					</p>
				{% endif %}
			{# {{ include('partials/comments.twig') }} #}

		</div>

	</article> <!-- /.module -->

	{# {% include 'partials/prev-next.twig' %} #}

{% endblock %}

{% block misc %}
<div class="inner">
	<aside class="module -article -flipped">

		<div class="module-link">
			<h4 class="widget-title">Hello!</h4>
		</div>

		<div class="module-content">
			<div class="module -aside -flipped">
				<div class="module-rail">
					{% include "partials/srcset.twig" with { img: TimberImage(3141) } %}
				</div>
				<div class="module-content">
					{# <p class="caption">Here's a picture if me in real life! Click to see another one.</p> #}
					<p>I hope you find something interesting to read here on my blog! Find me at these other places on the web:</p>
					{{ include('partials/social.twig') }}
				</div>
			</div>
		</div>

		<div class="module-rail">
			<h5 class="widget-title">Site Info</h5>
			<ul>
				<li>Font: Adelle Sans</li>
				<li>Built with WordPress and Timber</li>
				<li>Animations: GreenSock Animation Platform</li>
				<li>CSS Grid Layout</li>
			</ul>
		</div>

	</aside>

	</div>
{% endblock %}
