{% extends "base.twig" %}

{% block content_head %}
	{% include 'headers/header-single.twig' %}
{% endblock %}

{% block content %}

	<div class="contain-sm">

		{% if post.content %}
			{# Show post content for legacy posts. All new posts are created with blocks. #}
			<div class="entry-content">
				{{post.content}}
			</div>
		{% else %}
			{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
		{% endif %}
	
		{% include 'partials/edit-link.twig' %}
		
		{% if post.get_terms('tag') %}
			<p class="meta-greyed tags-list spacer-top">Tagged: 
				{% for tag in post.get_terms('tag') %}
					{# Keeping the links out for now until the archive template is ready. #}
					{#<a href="{{tag.link}}">{{tag.name}}</a>#}{{tag.name}}{{ loop.last ? '' : ', ' }}
				{% endfor %}
			</p> 
		{% endif %}

	</div>

	{% include 'partials/prev-next.twig' %}

	<div class="contain-sm spacer-top spacer-bot">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'notlaura';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>

{% endblock %}