{% extends "page.twig" %}

{% block content_head %}
	{% include 'headers/header-project.twig' %}
{% endblock %}

{% block content %}

	{# TODO: need to rename this class, what is this... #}
	{% if post.get_terms('project-type') %}
		<p class="tags-list">Filed under:
			{% for type in post.get_terms('project-type') %}
				{# Keeping link out until archive template is ready #}
				{# <a href="{{type.link}}">{{type.name}}</a>{{ loop.last ? '' : ', ' }} #}
				{{type.name}}{{ loop.last ? '' : ', ' }}
			{% endfor %}
		</p>
	{% endif %}

	{# TODO: also this #}
	{% if post.project_link %}
		<div class="text-center spacer-top spacer-bot">
			<a href="{{post.project_link}}" target="blank" class="btn">Launch Project</a>
		</div>
	{% endif %}

	{{ post.image ? '<hr>' }}

	{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}

	{# Not using these at the moment. #}
{#
		{% if post.get_terms('tag') %}
			<p class="meta-greyed tags-list">Keywords:
				{% for tag in post.get_terms('tag') %}
					<a href="{{tag.link}}">{{tag.name}}</a>{{ loop.last ? '' : ', ' }}
				{% endfor %}
			</p>
		{% endif %}
	#}

	{% include 'partials/prev-next.twig' %}

{% endblock %}
