{% if section.section_title %}

<header class="section-header{{section.css_class ? ' ' ~ section.css_class}}"{{section.menu_item_title ? ' id="' ~ section.menu_item_title|sanitize ~ '"'}}>
	<div class="contain-sm">

		<h3 class="section-title">{{section.section_title}}</h3>
		
		{% if section.lead %}
			<p class="lead">{{section.lead}}</p>
		{% endif %}
		
		{% if section.service_tf %}
			<aside class="section-intent">
				<div class="intent-type">
					<h5>For</h5>
				</div>
				<div class="intent-content">
					<p>{{section.target_market}}</p>
				</div>
			</aside>
		{% endif %}
	
	</div>
</header> <!-- /.section-header -->

{% endif %}