

<header class="project-header{{ ' -' ~ post.header_type }}">

	<div class="inner grid-header">

		<div class="header-left">
			<p class="project-types">{% for c in post.get_terms('project-type') %}{{ c.name != 'Featured' ? c.name }}{% endfor %}</p>
			<h1 class="project-header-title">{{post.title}}</h1>
			<p class="lead">{{post.intro}}</p>
			<p>{{post.para_intro}}</p>
			{{ include('partials/project-links.twig') }}
		</div>

		<div class="header-right">
			{% if post.testimonial %}
				<blockquote class="header-testimonial">
					<p class="lead">{{post.testimonial}}</p>
					<p class="meta-cite">{{post.testimonial_source}}</p>
				</blockquote>
			{% endif %}
			{% if post.image and not post.testimonial %}
					{% include "partials/srcset.twig" with {img: post.image, class: 'project-header-img'} %}
			{% endif %}

		</div>

	</div> <!-- /.inner -->

</header>