
<header class="contain-md header-single">

	<nav class="clearfix pagenav bleed">
		<div class="pagenav-link link-prev">
			{% if post.prev %}
			<a href="{{post.prev.link}}" title="Previous Project">
				{% include 'partials/svg.twig' with { 'file': 'arrow-left', 'prefix': 'icon' } %}
			</a>
			{% endif %}
		</div>
		<div class="pagenav-middle">
			<h1 class="page-title">{{post.title}}</h1>
		</div>	

		<div class="pagenav-link link-next">
			{% if post.next %}
			<a href="{{post.next.link}}" title="Next Project">
				{% include 'partials/svg.twig' with { 'file': 'arrow-right', 'prefix': 'icon' } %}
			</a>
			{% endif %}
		</div>

	</nav> <!-- /.pagenav -->

	<p class="meta-greyed">Posted: {{post.date}}{% if post.categories %}, filed under: {% for cat in post.categories %}<a href="{{cat.link}}" title="{{cat.name}} Archives">{{cat.name}}</a>{{ loop.last ? '' : ', ' }}{% endfor %}{% endif %}</p>

</header>

		