
<header style="background-image: url({{TimberImage(post.image).src('large')}})" class="project-header">
	{# <header class="project-header{{ ' -' ~ post.header_type }}" > #}

		{# TODO: soup city.  #}
	{# {% include "partials/srcset.twig" with { img: TimberImage(post.image), class: 'project-header-image' } %} #}

	<div class="inner">


	{# {% if post.header_type == 'text' %} #}
		<div class="module -article">
			<div class="module-content">
				<h1 class="header-title">{{post.title}}</h1>
				<p class="header-lead">{{post.intro}}</p>
				<p>{{post.para_intro}}</p>

				{% if post.project_link %}<a class="btn -has-icon project-launch-btn" href="{{post.project_link}}">{{post.project_link_text}} {% include 'partials/svg.twig' with { file: 'new-window', prefix: 'icon-inline'}%}</a>{% endif %}
			</div>
		</div>
	{# {% endif %} #}

</div>

</header>