<header class="section-header" id="{{menu_link_id}}">
	<div class="contain-sm">

		<hr class="bleed">
		<h3 class="section-title">{{section.section_title}}</h3>
		
		{% if section.lead %}
			<p class="lead">{{section.lead}}</p>
		{% endif %}
		
		{% if section.para_intro %}
			<p>{{section.para_intro}}</p>
		{% endif %}

		{% if section.service_tf %}
			{# <aside class="contain-sm"> #}
				{# <div class="clearfix"> #}
					<h5>For</h5>
					<p>{{section.target_market}}</p>
					
					{# <div class="half">
						<h5>Cost</h5>
						<p>{{section.budget}}<br>
						{{section.timeline ? section.timeline}}</p>
					</div> #}
				{# </div> #}
			{# </aside> #}
		{% endif %}

		{% if acc %}
			<a href="#{{menu_link_id}}-content" class="acc-link">
				<strong>More</strong>
				{% include 'partials/svg.twig' with {'prefix': 'icon', 'file': 'arrow-right'} %}
			</a>
		{% endif %}
	
	</div>
</header> <!-- /.section-header -->