<header class="page-header">

	<div class="contain-md">
		
		{% block title_area %}
			<h1 class="page-title">{{post.title}}</h1>
		{% endblock %}

		{% if post.tagline %} 
			<p class="page-tagline">{{post.tagline}}</p>
		{% endif %}
		
		{% if post.image and post.svg is empty%}
			<figure class="bleed">
				
				<img class="page-header-image img-flex" src="{{TimberImage(post.image).src|resize(1024)}}" alt="{{post.title|striptags}}">
				
				{% if post.image_caption %}
					<figcaption class="caption-opaque">{{post.image_caption}}</figcaption>
				{% endif %}

			</figure>
		{% endif %}

		{% if post.svg %}
			<figure class="bleed">
				{% include 'partials/svg.twig' with { 'file': post.svg, 'prefix': 'shape' } %}
				{% if post.image_caption %}
					<figcaption class="caption-clear">{{post.image_caption}}</figcaption>
				{% endif %}
			</figure>
		{% endif %}
	</div>

	<div class="contain-sm">
		{% if post.intro %}
			<p class="lead page-intro">{{post.intro}}</p>
		{% endif %}

		{% if post.para_intro %}
			<p>{{post.para_intro}}</p>
		{% endif %}
	</div>

</header> <!-- /.page-header -->