
<header class="main-header{{ ' -' ~ post.header_type }}">

{% if post.header_type == 'svg' %}
	{% set svg_path = "svgs/" ~ post.title|replace({ (" ") : "-" })|lower ~ ".svg" %}
	{% include svg_path %}
{% endif %}

<div class="inner-pad {{ post.header_type == 'image' ? ' grid-header' }} ">

	{% if post.header_type == 'image' %}

	<div class="header-left">
			<h1 class="page-title">{{post.title}}</h1>
			{% if post.intro %}
			<p class="header-lead">{{post.intro}}</p>
			{% endif %}

			{% if post.para_intro %}
			<div class="header-intro">{{post.para_intro|wpautop}}</div>
			{% endif %}
		</div>

		<div class="header-right">
			{% include "partials/srcset.twig" with { img: post.image } %}
		</div>

	{% endif %}

	{% if post.header_type == 'text' or post.header_type == 'svg' %}
		<div class="module -article">
			<div class="module-content">
				<h1 class="header-title">{{post.title}}</h1>
				<p class="header-lead">{{post.intro}}</p>
				<p>{{post.para_intro}}</p>
			</div>
		</div>
	{% endif %}

</div>
</header>