
<div class="site-logo">
  {# <img class="logo-img" src="{{site.theme.link}}/assets/img/util/beach-sml.jpg" alt=""> #}
  <a class="site-logo-link" href="{{site.link}}">
    {% include "svgs/lara-schenck-horiz.svg" %}
    <span class="screen-reader">Lara Schenck</span>
  </a>
</div>

<nav id="menu" class="site-nav" role="navigation">
  <ul class="menu-list">
    {% for item in main_nav.items %}
    <li class="menu-item {{ item.get_children ? 'menu-has-children' }} {{item.classes | join(' ')}}">
      <a class="menu-item-link" href="{{item.link}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav><!-- /#menu -->

<div class="site-icon">
  {# <img  src="http://nl.local/wp-content/uploads/2015/03/19430100_10209046755514104_949116592170825472_n.jpg" alt="">
  <p class="meta">Hey! I'm Lara. Thanks for visiting my website! I'm a front-end web developer and sometimes designer in Los Angeles.</p> #}
  <!-- {% include "svgs/character-1.svg" %} -->
</div>
