
<header class="main-header {{ post.header_type == 'image' ? ' grid-header' }} {{ '-' ~ post.header_type }}">

	{% block title_area %}
	{% endblock %}

	{% if post.header_type == 'svg' %}
		{% set svg_path = "svgs/" ~ post.title|replace({ (" ") : "-" })|lower ~ ".svg" %}
		{% include svg_path %}
		<h1 class="page-title">{{post.title}}</h1>
	{% endif %}

	{% if post.header_type == 'image' %}
		<div class="header-left" style="background-image: url({{TimberImage(post.image).src('large')}})">
			<div class="mask"></div>
			{% if post.type == "page" %}
				<h2 class="header-title screen-reader">{{post.title}}</h2>
			{% endif %}
		</div>

		<div class="header-right">
			{% if post.intro %}
				<p class="header-lead">{{post.intro}}</p>
			{% endif %}

			{% if post.para_intro %}
				<div class="header-intro">{{post.para_intro|wpautop}}</div>
			{% endif %}
		</div>
	{% endif %}

	{% if post.header_type == 'text' %}
		{# <div class="module">
			<div class="module-content"> #}
				<h1 class="header-title">{{post.title}}</h1>
				<p class="header-lead">{{post.intro}}</p>
				<p>{{post.para_intro}}</p>
			{# </div>
		</div> #}
	{% endif %}

</header>