
<div class="site-info">
	<h1 class="site-title"><a href="{{site.link}}" rel="nofollow">Lara <span class="special">Schenck</span></a></h1>
	<p class="site-desc">{{site.description}}</p>
</div> <!-- /.site-info -->

<div class="menu-link">
  <a href="#menu">Menu</a>
</div> <!-- /.menu-link -->

<nav id="menu" class="site-nav" role="navigation">
  <ul class="menu-list">
  {% for item in main_nav.items %}
    <li class="menu-item {{ item.get_children ? 'menu-has-children' }} {{item.classes | join(' ')}}">
      <a class="menu-item-link" href="{{item.link}}">{{item.title}}</a>
    </li>
  {% endfor %}
  </ul>
</nav><!-- /#menu -->

