
{% if post.get_thumbnail %}
	{% set grid = true %}
{% endif %}

{# Show small character if first post is not gridded,
	show large character if it is #}
{# {% if loop.index == 1 %}
	<header class="blog-header{{grid ? ' -full': ' -half'}}">
		<h1 class="screen-reader">Blog</h1>
		{% if	grid == false %}
			{% include "svgs/character-1.svg" %}
		{% else %}
			{% include "svgs/blog.svg" %}
		{% endif %}
	</header>
{% endif %} #}

<article class="post {{"sticky" in post.class ? "sticky"}}{{grid ? ' grid-tease'}} fancy-hover" id="tease-{{post.ID}}">
	{% block content %}

		{% if post.get_thumbnail %}
		<div class="tease-thumb">
			<a href="{{post.link}}">
				<img class="lazyload tease-thumb-img" src="{{post.thumbnail.src|resize(100,100)}}" data-src="{{post.thumbnail.src|resize(500,500)}}" alt="{{alt ? alt : 'Thumbnail for &quot;' ~ post.title|striptags ~ '&quot;'}}">
			</a>
		</div>
		{% endif %}

		<div class="tease-content">

			<header class="tease-header">
				<p class="tease-meta">{{post.date}} in	{% for cat in post.categories %}<a href="{{cat.link}}">{{cat.name}}</a>{{loop.last ? ' ' : ', '}}{%
	endfor %}</p>
				<h3 class="tease-title"><a href="{{post.link}}" class="tease-title-link">
					{% if post.format == 'link' %}
						{% include "svgs/link.twig" with { class: 'icon-inline' } %}
					{% endif %}
					{{post.title}}
				</a></h3>
			</header>

			{% if post.post_excerpt and post.format != "video" %}
				{{post.post_excerpt|striptags}}
			{% elseif post.format == "video" %}
				{{post.content}}
			{% else %}
				{{post.preview.length(50).read_more('').end(' [&hellip;]')}}
			{% endif %}
			
			<p>
				{% set is_monster = false %}
				{% set monster_link = false %}

				{% for cat in post.categories %}
					{% if cat.name == 'Monsters' %}
						{% set is_monster = true %}
						{% set monster_link = cat.link %}
					{% endif %}
				{% endfor %}

				{% if is_monster and monster_link != '' %}
					<a class="link-more" href="{{monster_link}}">See all monsters &rarr;</a>				
				{% else %}
					<a class="link-more" href="{{post.link}}" title="{{post.title}}">Read post &rarr;</a>
				{% endif %}
			</p>
		</div>


	{% endblock %}
</article>
