

<article class="tease-project{% for t in post.get_terms('project-type') %} -{{t.name|sanitize}}{% endfor %} {{post.thumbnail ? 'grid-project'}}" id="tease-{{post.ID}}">

  <div class="project-thumb">
    {% if post.thumbnail %}
      <img src="{{function('wp_get_attachment_image_url', post.thumbnail.id, 'medium')}}" srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id, 'medium' )}}" sizes="(max-width: 1024px) 100vw, 1024px" alt="Post thumbnail">
    {% else %}
      <img src="http://placehold.it/200x200" alt="">
    {% endif %}
  </div>

  {# <div class="project-header">
    <img
      src="{{ post.thumbnail.src('medium') }}"
      srcset="
          {{ post.thumbnail.src('large') }} 480w"
      alt="{{ variation.thumbnail.alt }}" />
  </div> #}

  <div class="project-content">
    <h4 class="project-tease-title">{{post.title}}{% if post.project_link %}<a href="{{post.project_link}}" class="launch-btn" target="blank"><span class="screen-reader">Launch Project</span> {% include 'partials/svg.twig' with { file: 'new-window', prefix: 'icon-inline'}%}</a>{% endif %}</h4>

    <p class="project-tease-tagline">{{post.tagline}}</p>

    <p class="meta">{{post.para_intro}}</p>
    <p>
      <a href="{{post.link}}" title="{{post.title}}">(more...)</a>
    </p>

    <p class="meta-greyed tease-tax">{% for c in post.get_terms('project-type') %}{{c.name}}{{loop.last ? '' : ', '}}{% endfor %}</p>

    {% include "partials/edit-link.twig" %}
  </div>

</article>