
<article class="module tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}

		{# <div class="module-thumbnail">
			{% if post.get_thumbnail %}
				<img class="tease-thumbnail" alt="Post thumbnail" src="{{post.thumbnail.src('thumbnail')}}" />
			{% endif %}
		</div> #}

		<header class="module-header">
			<h3 class="tease-title"><a class="tease-title-link" href="{{post.link}}">{{post.title}}</a></h3>
		</header>

		<aside class="module-rail">
			{% include "partials/tease-meta.twig" %}
		</aside>

		<div class="module-content">

			{% if post.get_thumbnail %}
				<div class="fig-large">
					<img src="{{function('wp_get_attachment_image_url', post.thumbnail.id, 'medium')}}" srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id, 'medium' )}}" sizes="(max-width: 1024px) 100vw, 1024px" alt="Post thumbnail">
					</div>

			{% endif %}

			{% if '<!--more-->' in post.content %}
				{{post.get_preview(180, false, false, false)|wpautop}}

				<p>
					<a href="{{post.link}}">(more...)</a>
				</p>

			{% elseif '<!--more-->' not in post.content and post.exercpt %}
				{{post.excerpt}}}
			{% else %}
				{{post.content}}
			{% endif %}

		</div>
	{% endblock %}
</article>
