

<article class="tease-project{% if 'Featured' in post.get_terms('project-type') %} -featured{% else %} -not-featured{% endif %}{{post.thumbnail ? ' grid-project'}}" id="tease-{{post.ID}}">

  <div class="project-thumb">
    {% if post.thumbnail %}
      <img src="{{function('wp_get_attachment_image_url', post.thumbnail.id, 'medium')}}" srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id, 'medium' )}}" sizes="(max-width: 1024px) 100vw, 1024px" alt="Post thumbnail">
    {% else %}
      <img src="http://placehold.it/200x200" alt="">
    {% endif %}
  </div>

  {# <div class="project-header">
    <img
      src="{{ post.thumbnail.src('medium') }}"
      srcset="
          {{ post.thumbnail.src('large') }} 480w"
      alt="{{ variation.thumbnail.alt }}" />
  </div> #}

  <div class="project-content">
    <h4 class="project-tease-title">{% if not post.no_single %}<a href="{{post.link}}">{{post.title}}</a>{% else %}{{post.title}}{% endif %}</h4>

    <p class="project-tease-tagline">{{post.intro}}</p>

    <p class="meta">{{post.para_intro}}</p>

    {% if post.no_single == false %}
      <p>
        <a class="link-more" href="{{post.link}}" title="{{post.title}}">Details &rarr;</a>
      </p>
    {% endif %}

    <p class="meta-greyed tease-tax">{% for c in post.get_terms('project-type') %}{{c.name}}{{loop.last ? '' : ', '}}{% endfor %}</p>

    {% include "partials/edit-link.twig" %}
  </div>

</article>