
{% if post.thumbnail %}
	{% set grid = true %}
{% endif %}

{# Show small character if first post is not gridded,
	show large character if it is #}
{% if loop.index == 1 %}
	<header class="blog-header{{grid ? ' -full': ' -half'}}">
		<h1 class="screen-reader">Blog</h1>
		{% if	grid == false %}
			{% include "svgs/character-1.svg" %}
		{% else %}
			{% include "svgs/blog.svg" %}
		{% endif %}
	</header>
{% endif %}

<article class="tease-{{post.post_type}}{{grid ? ' grid-tease'}}" id="tease-{{post.ID}}">
	{% block content %}

		<!-- <aside class="module-rail">
			</aside> -->
		{% if post.thumbnail %}

			<div class="tease-thumb">
				<a href="{{post.link}}">
					{% if post.get_thumbnail %}
					<img class="lazyload" src="{{post.thumbnail.src|resize(100,100)}}" data-src="{{post.thumbnail.src|resize(500,500)}}" alt="">
					{# {% include "partials/srcset.twig" with {img : post.thumbnail} %} #}
					{% endif %}
				</a>
			</div>

		{% endif %}

		<div class="tease-content">

			<header class="tease-header">
				<p class="tease-meta">{{post.date}} / 	{% for cat in post.categories %}{{cat.name}}{{loop.last ? ' ' : ', '}}{%
	endfor %}</p>
				<h3 class="tease-title"><a href="{{post.link}}" class="tease-title-link">
					{% if post.format == 'link' %}
						{% include "svgs/link.twig" with { class: 'icon-inline' } %}
					{% endif %}
					{{post.title}}
				</a></h3>
			</header>

			{% if post.post_excerpt and post.format != "video" %}
				{{post.post_excerpt}}
			{% elseif post.format == "video" %}
				{{post.content}}
			{% else %}
				{{post.preview.length(50).read_more('').end(' [&hellip;]')}}
			{% endif %}

			<p>
				<a class="link-more" href="{{post.link}}" title="{{post.title}}">Read More <span class="more-arrow">&rarr;</span></a>
			</p>
		</div>


	{% endblock %}
</article>
