
{% if post.thumbnail %}
	{% set grid = true %}
{% endif %}


<article class="tease-{{post.post_type}}{{grid ? ' grid-tease'}}" id="tease-{{post.ID}}">
	{% block content %}

		<!-- <aside class="module-rail">
			</aside> -->
			{% if post.get_thumbnail %}
				<div class="tease-thumb">
					<img class="lazyload" data-src="{{post.thumbnail.src|resize(500,500)}}" alt="">
					{# {% include "partials/srcset.twig" with {img : post.thumbnail} %} #}
				</div>
			{% endif %}

		<div class="tease-content">

			<header class="tease-header">
				<p class="tease-meta">{{post.date}} / 	{% for cat in post.categories %}{{cat.name}}{{loop.last ? ' ' : ', '}}{%
	endfor %}</p>
				<h3 class="tease-title"><a class="tease-title-link" href="{{post.link}}">{{post.title}}</a></h3>
				<!-- {% include "partials/tease-meta.twig" %} -->
			</header>


			{% if post.post_excerpt and post.format != "video" %}
				{{post.post_excerpt}}
			{% elseif post.format == "video" %}
				{{post.content}}
			{% else %}
				{{post.get_preview(50, false, "")}}

			{% endif %}
			<p>
				<a class="link-more" href="{{post.link}}" title="{{post.title}}">Read More <span class="more-arrow">&rarr;</span></a>
			</p>
		</div>


	{% endblock %}
</article>
