{% extends "blocks/block.twig" %}

{% block content %}
	<aside class="related-content">

	{% for related in blck.page %}
		<div class="alert clearfix">
			<div class="col-14">
				<a href="'~related.guid~'">
					<img class="related-thumb spacer-top" src="{{TimberImage(blck.thumbnail).src|resize(300, 300)}}" alt="{{related.title}}">
				</a>
			</div>
			<div class="col-34 spacer-bot">
				<h4 class="related-title">{{related.post_title}}</h4>
				<p class="lead-cta">{{blck.description}}</p>
				<a class="link-more" href="{{related.permalink}}">Read more</a>
				{{related.project_link ? '<a href="'~related.project_link~'" class="link-more" target="blank">Launch Website</a>' }}
			</div>
		</div>
	{% endfor %}

	</aside>
{% endblock %}
