{% extends "blocks/block.twig" %}

{% block content %}
	<aside class="contain-md">
		
	{% for related in blck.page %}
		<div class="alert clearfix">
			{{related.post.thumbnail.src}}
			<div class="col-14">
				<img class="spacer-top" src="http://placehold.it/300x300" alt="">
			</div>
			<div class="col-34 spacer-bot">
				<h4 class="related-title">{{related.post_title}}</h4>
				<p class="lead-cta">{{blck.description}}</p>
				<a class="link-more" href="{{related.guid}}">Read more</a>
				{{related.project_link ? '<a href="'~related.project_link~'" class="link-more" target="blank">Launch Website</a>' }}
			</div>
		</div>
	{% endfor %}

	</aside>
{% endblock %}