{% extends "blocks/block.twig" %}

{% block content %}
	<div class="contain-md">
	{% if blck.text_format == 'caption'%}
		<figure class="bleed opaque">
			{% if blck.image and blck.svg is empty %}
				<img src="{{TimberImage(blck.image).src('medium')}}" alt="{{blck.post_title}}"/>
			{% endif %}

			{% if blck.svg %}
				{% include 'partials/svg.twig' with {'file': blck.svg, 'prefix': 'shape' } %}
			{% endif %}

			<figcaption class="caption-clear">{{blck.caption}}</figcaption>
		</figure>
	{% elseif blck.text_format == 'paragraph'%}
		<h4>{{blck.text_heading}}</h4>
		<div class="textimage-image">
			<img src="{{TimberImage(blck.image).src|resize(600)}}" alt="{{item.post_title}}" alt="{{item.post_title}}"/>
		</div>
		<div class="contain-sm">
			{{blck.text}}
		</div>
	{% endif %}
	</div>
{% endblock %}